span{
    font-size: 1.6rem;
}
.charcaol{
    color: var(--charcoal);
}
.profile-container{
    width: 60%;
    margin: 5rem auto;
    height: 50rem;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header"
                         "aside  main";
}
.profile-header{
    grid-area: header;
    border:1px solid var(--purple-700);
    padding: 1rem;
    background: var(--white);
}
.profile-aside{
    grid-area:aside;
    border:1px solid var(--purple-700);
    background: var(--white);
    padding: 1rem;
    border-top: none;
    
}
.profile-main{
    grid-area: main;
    border:1px solid var(--purple-700);
    border-top: none;
    border-left: none;
    padding: 1rem;
    background: var(--white);
}
.user-header{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.bg-purple{
    background: var(--purple-50);
}
.charcoal{
    color: var(--charcoal);
}
/* profile tabs */
.profile-tabs{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.tab-item a{
    text-decoration: none;
    color: inherit;
}
#profile-overview{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#profile-overview h2{
    margin-top: 0;
    padding-top: 0;
}
.profile-overview-item{
    display: flex;
}
.profile-overview-item>*{
    color: var(--charcoal);
}
.profile-overview-item span:nth-child(1){
    width: 65%;  
}
.profile-overview-item span:nth-child(2){
    width: 35%;  
}

.active{
    color: var(--purple-700);
}

@media only screen and (max-width:900px){
    .profile-container{
        width: 90%;
        margin: 5rem auto;
        height: 50rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "header"
                             "main";
    }
    .profile-aside{
        display: none;
    }
    .profile-main{
        border-left: 1px solid var(--purple-700);
    }
}
@media only screen and (max-width:600px){
    html{
        font-size: 50%;
    }
}