* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: var(--half-white);
  height: 100vh;
}
.nav-brand-typography {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}
.nav-search-bar {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.search-list {
  position: absolute;
  width: 100%;
  top: 3rem;
  z-index: 3;
}
.search-list ul {
  list-style: none;
}
.search-list li {
  border: 1px solid var(--gray-70);
  padding: 1rem;
  cursor: pointer;
  background: white;
}
.grey {
  color: var(--gray-70);
}
.bg-none {
  background: none;
}

.bg-white {
  background: var(--white);
}
.hamburger-icon i {
  font-size: 1.6rem;
}
.hamburger-icon {
  display: none;
}
@media only screen and (max-width: 900px) {
  .search-bar {
    width: 20rem;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .nav-bar {
    justify-content: space-between;
  }
  .nav-search-bar {
    width: 22rem;
    
  }
  
  .nav-links.nav-links-ecomm {
    display: block;
    position: absolute;
    top:0;
    width: 40%;
    left: 0%;
    z-index: 2;
    height: 100%;
    background: var(--white);
  }
  .nav-links-ecomm ul{
    padding: 2rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
  }
  .hamburger-icon {
    display: block;
  }
}
