*{
    padding: 0;
    margin: 0;
}
span{
    font-size: 1.2rem;
}
body{
    background: var(--half-white);
}
html{
    font-size: 62.5%;
}

aside{
    width: 25rem;
    padding: 1rem;
    height: 100vh;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.display-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-y{
    flex-direction: column;
}
.price-range{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-range>span::after{
    content: '\007C';
    position: absolute;
    bottom: -12px;
    right: 2px;
}
.range-wrap{
    margin-top: 1rem;
}

.filter-flex-y{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-start;    
}
.position-relative{
    position: relative;
}