*{
    padding: 0;
    margin: 0;
}

html{
    overflow: hidden;
}
body{
    background: var(--half-white);
    
}
.product-page-container{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 28rem 1fr;
    grid-template-areas: "aside main";
}

nav{
    grid-area: nav;
}

aside{
    grid-area: aside;
    overflow-y: scroll;
    height: 100%;
}

main{
    grid-area:main;
    overflow-y:scroll;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 2rem;
    padding: 1rem;
}
i{
    color:var(--gray-70)
}

.fluid-y{
    flex-direction: column;
    gap:5px
}

.minimised-filter{
    display: none;

}
.minimised-filter>*{
    font-size: 2rem;
}



@media only screen and (max-width:900px){

    .product-page-container{
        height: 100%;
        display: grid;
        grid-template-rows:  1fr ;
        grid-template-columns: 1fr;
        grid-template-areas: " main";
    }
    main{
        height: 95%;
    }

    aside{
        position: absolute;
        z-index: 2;
        width: 95%;
        transform: translateY(100%);
    }
    .minimised-filter{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        gap:1rem;
        bottom: 0;
        padding: 1rem;
        background: white;
        width: 100%; 
    }
}