body {
  margin: 0;
  
}

:root{
  --half-white:#f7f7f7;
  --gray-70:#b3b3b3;
  --white:#fff;
  --purple-50:#faf5ff;
  --red:#f91a1c;
  --charcoal:#333333;
  --blue-outline:#0075ff;
}

.grey{
  color: var(--gray-70);
}

.bg-purple-50{
  background: var(--purple-50);
}
.bg-purple-600{
  background: var(--purple-600);
}

.btn{
  margin: 0;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--purple-600);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 